include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		include ../common/header
		include ../common/problems
		include ../common/info
		include ../common/choice
		include ../common/footer
	// END body