.title {
    color: #474b53;
    font-family: "Gilroy";
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding-bottom: 168px;
}
.problems {
    padding-top: 158px;
    padding-bottom: 73px;
    background-color: #5ba1af;
    position: relative;
    &__slider {
        max-width: 1340px;
        margin: 0 auto;
    }
    &__item {
        color: #fff;
        // width: 30%;
    }
    &__title {
        font-size: 30px;
        font-family: "Gilroy";
        font-weight: 800;
        padding-bottom: 55px;
    }
    &__description {
       display: flex;
       align-items: center;
       padding-bottom: 82px
    }
    &__circle {
        left: 0;
        content: "";
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 15px solid #ffffff;
    }
    &__text {
        padding-left: 19px;
        font-size: 16px;
        font-family: "Lato", Arial, Helvetica, sans-serif;
        font-weight: 400;
        max-width: 310px;
        span {
            font-weight: 800;
        }
    }
    &--dark {
        color: #474b53;
        .problems__circle {
            border-color: #474b53;
        }
    }
    &:after {
        position: absolute;
        content: "";
        bottom: -30px;
        right: 0;
        width: 34%;
        height: 30px;
        background-color: #474b53;

    }
}
.slick-arrow {
    width: 46px;
    height: 46px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    fill: #fff;
}
.svg-left {
    left: -100px;
}
.svg-right {
    right: -100px;
}