section.choice
    .choice__circle-bg.choice__circle-bg--left
    .choice__circle-bg.choice__circle-bg--right
    .wrap
        h2
            .choice__title REconnect 
            .choice__def 
                | это выбор 
                span профессионалов рынка 
                | для быстрого и эффективного решения задач по управлению торговыми площадями
        .diagram
            .diagram__item--wrap
                .diagram__item
                    .diagram__title только релевантные запросы и целевые контакты
                    .diagram_description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            .diagram__item--wrap
                .diagram__item
                    .diagram__title экономия времени и денег на поиск подходящих объектов
                    .diagram_description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt

            .diagram__item--wrap
                .diagram__item
                    .diagram__title экономия времени на формирование очереди потенциальных клиентов для каждого объекта
                    .diagram_description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            .diagram__item--wrap
                .diagram__item
                    .diagram__title Повышение дохода от недвижимости 
                    .diagram_description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            .diagram__circle 
                .circle-top
                .circle-left
                .circle-right
                .circle-bottom
                svg.logo
                    use(xlink:href='img/icons/logo.svg#logo')
                svg.loan
                    use(xlink:href='img/icons/loan.svg#loan')
                svg.cash
                    use(xlink:href='img/icons/cash.svg#cash')
                svg.profile
                    use(xlink:href='img/icons/profile.svg#profile')
                svg.clock
                    use(xlink:href='img/icons/clock.svg#clock')