footer
    .wrap.footer
        .footer__name
            .footer__text Retailer
            .footer__circle
                .circle
                .circle
                .circle
        .footer__description
            .footer__title Эксперт в коммуникациях на рынке торговой недвижимости
            .footer__subtitle 15 лет мы знакомим нужных друг другу людей и способствуем заключению выгодных сделок
        .footer__logo    
            svg
                use(xlink:href='img/icons/logo.svg#logo') 
        .social
            .social__icons
                a(href="#")
                    svg.telegram
                        use(xlink:href='img/icons/telegram.svg#telegram') 
                a(href="#")
                    svg.whatsapp
                        use(xlink:href='img/icons/whatsapp.svg#whatsapp') 
                a(href="#")
                    svg.skype
                        use(xlink:href='img/icons/skype.svg#skype') 
            .social__contacts
                a(href="tel:+78005006606").phone +7 (800) 500-66-06
                a(href="mailto:products@re-connect.ru")
                    span.mail products@re-connect.ru
        
        .footer__menu
            ul
                li
                    a(href="#") Тарифы
                li
                    a(href="#") Пользовательское соглашение
                li
                    a(href="#") Политика конфиденциальности
                li
                    a(href="#") Договор оферты
        .footer__login
            p 
                a(href="#") Регистрация  
                span |
                a(href="#")  Войти
            p 
            a(href="#") Контакты
        .footer__partners
            svg.tinkoff
                use(xlink:href='img/icons/tinkoff.svg#tinkoff')
            .pay
                svg.mastercard
                    use(xlink:href='img/icons/mastercard.svg#mastercard')
                svg.visa
                    use(xlink:href='img/icons/visa.svg#visa')
                svg.mir
                    use(xlink:href='img/icons/mir.svg#mir') 
        .rights Хорошего понедельника! © 2018 — RETAILER.ru
        
script(src="js/scripts.min.js")
script(src="js/common.js")