header
	.wrap
		nav
			svg.logo
				use(xlink:href='img/icons/logo.svg#logo') 
			.main-menu 
				ul
					li
						a(href="#") Зачем это нам
					li
						a(href="#") Как это работает
					li
						a(href="#") Зачем это вам
			a(href="#").login Войти
		.header
			h1 Процесс поиска и реализации торговых площадей еще никогда не был 
				span проще
			.header-controls
				.btn Я ищу площадь
				.btn У меня есть площадь
		.next 
			.next__icons
				svg.mouse
					use(xlink:href='img/icons/mouse.svg#mouse')
				svg.download
					use(xlink:href='img/icons/download.svg#download')
			.next__text Листайте вниз, чтобы узнать больше

		