header.wrap
	nav
		svg.logo
			use(xlink:href='img/icons/logo.svg#logo') 
		.main-menu 
			ul
				li
					a(href="#") Зачем это нам
				li
					a(href="#") Как это работает
				li
					a(href="#") Зачем это вам
		a(href="#").login Войти
	.header


		