section.info
    .wrap
        .info__map
            img(src="img/map.png", alt="карта")
        .info__main
            .info__block
                .info__title Ритейлеры
                ul.info__list
                    li.info__item
                        .num 01
                        | Описывают свои потребности в недвижимости
                    li.info__item
                        .num 02
                        | Получают список объектов, подходящих по указанным параметрам
                    li.info__item
                        .num 03
                        | Отправляют запрос оператору торговой недвижимости
                    li.info__item.accent
                        .num 04
                        | При 
                        span взаимном 
                        | интересе открываются контакты
                .btn Добавить потребности в сервис
            .info__block.info--black
                .info__title Операторы торговой недвижимости
                ul.info__list
                    li.info__item
                        .num 01
                        | Описывают свои объекты
                    li.info__item
                        .num 02
                        | Получают запросы от ритейлеров, которым они подходят
                    li.info__item
                        .num 03
                        | Отправляют запрос ритейлеру
                    li.info__item.accent
                        .num 04
                        | При 
                        span взаимном 
                        | интересе открываются контакты сторон
                .btn Добавить объекты в сервис





