section.problems#more
    .wrap
        h2.title Инструмент, который меняет все
        .problems__slider
            .problems__item--wrap
                .problems__item
                    .problems__title проблема рынка
                    .problems__description 
                        .problems__circle
                        .problems__text 
                            | На рынке много объектов, но на поиск подходящего уходит 
                            span очень много времени
                    .problems__title.problems--dark решение
                    .problems__description.problems--dark 
                        .problems__circle
                        .problems__text 
                            | Время на поиск площади 
                            span сокращено в разы, 
                            | ведь предложения заранее отсеяны по заданным параметрам
            .problems__item--wrap
                .problems__item
                    .problems__title проблема рынка
                    .problems__description 
                        .problems__circle
                        .problems__text 
                            | Спрос на торговые площади есть, но 
                            span найти людей, 
                            | которым подходит именно такой объект, 
                            span нелегко
                    .problems__title.problems--dark решение
                    .problems__description.problems--dark 
                        .problems__circle
                        .problems__text 
                            | Объект всегда предлагается людям, которым он 
                            span может быть интересен, 
                            | и только им
            .problems__item--wrap
                .problems__item
                    .problems__title проблема рынка
                    .problems__description 
                        .problems__circle
                        .problems__text 
                            | На рынке много объектов, но на поиск подходящего уходит 
                            span очень много времени
                    .problems__title.problems--dark решение
                    .problems__description.problems--dark 
                        .problems__circle
                        .problems__text 
                            | Время на поиск площади 
                            span сокращено в разы, 
                            | ведь предложения заранее отсеяны по заданным параметрам
            .problems__item--wrap
                .problems__item
                    .problems__title проблема рынка
                    .problems__description 
                        .problems__circle
                        .problems__text 
                            | На рынке много объектов, но на поиск подходящего уходит 
                            span очень много времени
                    .problems__title.problems--dark решение
                    .problems__description.problems--dark 
                        .problems__circle
                        .problems__text 
                            | Время на поиск площади 
                            span сокращено в разы, 
                            | ведь предложения заранее отсеяны по заданным параметрам